container_commands:
    01downloadpackage:
        command: "wget https://dl.influxdata.com/telegraf/releases/telegraf-1.6.0-1.x86_64.rpm -O /tmp/telegraf.rpm"
        ignoreErrors: true
    02installpackage:
        command: "yum localinstall -y /tmp/telegraf.rpm"
        ignoreErrors: true
    03removepackage:
        command: "rm /tmp/telegraf.rpm"
        ignoreErrors: true
    04enablereboot:
        command: "chkconfig telegraf on"
        ignoreErrors: true
    05fixpermission:
        command: "usermod -a -G docker telegraf"
        ignoreErrors: true